.navbar {
  margin-bottom: 30px;
}


[data-toggle="collapse"] .fa:before {
  content: "\f139";
}
[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
[data-toggle="collapse"].collapsed span::after {
  content: 'More details';
}
[data-toggle="collapse"] span::after {
  content: 'Less details';
}

// prevent scrollbar jump
// there is a problem with this: it snips off the lh end of the nav bar
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

.form-control-sm {
    box-shadow: none;
}

// styles for search form, including icon to clear search
.hidden {
    display: none;
}
.search-container {
    display: inline-block;
    position: relative;
}
.form-control-clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: lightgrey;
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}
.search-input {
    box-shadow: none;
}

// styles for confirmation messages including dismiss icon
.closeDiv {
    cursor: pointer;
    float: right;
    opacity: 0.5;
    margin-top: 6px; // not the right way to do this
}
